<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jillian Alder">
		<title>Breila Rose Photography</title>
		<link href='https://fonts.googleapis.com/css?family=News+Cycle|Tangerine' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
	
		<header class="container">
			<h1>Breila Rose Photography</h1>
			<p class="tagline">Creating Unique Beauty.</p>
		</header>

		<div class="nav-container">
			<nav class="container">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Gallery", gallery_path %></li>
					<li><%= link_to "About", about_path %></li>
				</ul>
				<div class="clear"></div>
			</nav>
		</div><!-- .nav-container -->

		<div class="container">
			<div class="main">

				<div class="post">
					<h2>Boudoir</h2>
					<%= image_tag("boudoir.jpg", :alt => "Boudoir") %> 
					<p>Insert blurb about boudoir shoots</p>
					<div class="post-meta">Breila Rose Photography By. Breila Rose Rathlou</div>
				</div><!-- .post -->

				<div class="post">
					<h2>Weddings</h2>
					<%= image_tag("wedding.jpg", :alt => "Girl in Sunflower feild") %>
					<p>Insert blurb about wedding shoots</p>
					<div class="post-meta">Breila Rose Photography By. Breila Rose Rathlou</div>
				</div><!-- .post -->

				<div class="post">
					<h2>Gore</h2>
					<%= image_tag("gore.jpg", :alt => "Girls with blood on face") %>
					<p>Insert blurb about gore shoots</p>
					<div class="post-meta">Breila Rose Photography By. Breila Rose Rathlou</div>
				</div><!-- .post -->

			</div><!-- .main -->
			
			<%= render 'layouts/sidebar' %>
			<div class="container">
				<%= yield %>
			</div><!-- container -->

			<div class="clear"></div>

			
				<footer class="container">
					<p>All Content © Breila von Holstein-Rathlou of Breila Rose Photography</p>
				</footer>
			


		</div><!-- .container -->
	
	</body>
</html>