				<!-- Gallery Page links -->
				<div class="footer">
					<ul>
						<li><%= link_to "Blood & Gore", bloodandgore_path %></li>
						<li><%= link_to "Boudoir & Pin Ups", boudoir_path %></li>
						<li><%= link_to "Creative", creative_path %></li>
						<li><%= link_to "Love", love_path %></li>
						<li><%= link_to "Portraits", portraits_path %></li>
						<li><%= link_to "Travel", travel_path %></li>
					</ul>
				</div><!-- .footer -->
				<!-- Gallery Page Links -->